<!DOCTYPE html>
<html>
  <head>
    <title>Article Layout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <header>
      <h1>Article Layout</h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>